.Opponent {
    width: 100%;
    height: 100%;

    background-color: burlywood;
}

.OpponentHandWrapper {
    height: 40%;

    transition: transform 0.15s;

    transform: translateY(-40%);

    &:hover {
        transform: translateY(10%);
    }
}

.OpponentHero {
    position: absolute;
    top: 0;
    right: 0;
}